In [1]:
import pandas as pd

In [2]:
with open('ville_commerce.csv') as f:
    encoding = f.encoding
df = pd.read_csv("ville_commerce.csv",sep=";", encoding= encoding)

In [3]:
depa = pd.DataFrame()
for i in range(23):
    locals()["depa" + str(i)] = pd.DataFrame()
    locals()["depa" + str(i)]["id_departement"] = df["id_departement"]
depar = pd.concat([depa0,depa1,depa2,depa3,depa4,depa5,depa6,depa7,depa8,depa9,depa10,depa11,depa12,depa13,depa14,depa15,depa16,depa17,depa18,depa19,depa20,depa21,depa22], ignore_index=True)

In [4]:
ann = pd.DataFrame()
for i in range(23):
    locals()["ann" + str(i)] = pd.DataFrame()
    locals()["ann" + str(i)]["annee"] = df["annee"]
anne = pd.concat([ann0,ann1,ann2,ann3,ann4,ann5,ann6,ann7,ann8,ann9,ann10,ann11,ann12,ann13,ann14,ann15,ann16,ann17,ann18,ann19,ann20,ann21,ann22], ignore_index=True)

In [5]:
comm = pd.DataFrame()
for i in range(23):
    locals()["comm" + str(i)] = pd.DataFrame()
    locals()["comm" + str(i)]["libelle_de_commune"] = df["libelle_de_commune"]
commu = pd.concat([comm0,comm1,comm2,comm3,comm4,comm5,comm6,comm7,comm8,comm9,comm10,comm11,comm12,comm13,comm14,comm15,comm16,comm17,comm18,comm19,comm20,comm21,comm22], ignore_index=True)

In [6]:
pop = pd.DataFrame()
for i in range(23):
    locals()["pop" + str(i)] = pd.DataFrame()
    locals()["pop" + str(i)]["population"] = df["population"]
popu = pd.concat([pop0,pop1,pop2,pop3,pop4,pop5,pop6,pop7,pop8,pop9,pop10,pop11,pop12,pop13,pop14,pop15,pop16,pop17,pop18,pop19,pop20,pop21,pop22], ignore_index=True)

In [7]:
principal = pd.concat([depar,commu,anne,popu], ignore_index=False, axis = 1)
principal

        id_departement    libelle_de_commune  annee  population
0                   91  Abbéville-la-Rivière   1995         283
1                   91  Abbéville-la-Rivière   1996         283
2                   91  Abbéville-la-Rivière   1997         283
3                   91  Abbéville-la-Rivière   1998         283
4                   91  Abbéville-la-Rivière   1999         283
...                ...                   ...    ...         ...
777395              91                Yerres   2016       29050
777396              91                Yerres   2017       29050
777397              91                Yerres   2018       29050
777398              91                Yerres   2019       29050
777399              91                Yerres   2020       29050

[777400 rows x 4 columns]

In [8]:
Commerce = ["hypermarche", "supermarche", "grande_surface_de_bricolage", "superette", "epicerie", "boulangerie", "boucherie_charcuterie", "produits_surgeles", "poissonnerie", "librairie_papeterie_journaux", "magasin_de_vetements", "magasin_d_equipements_du_foyer", "magasin_de_chaussures", "magasin_d_electromenager_et_de_mat_audio_video", "magasin_de_meubles", "magasin_d_articles_de_sports_et_de_loisirs", "magasin_de_revetements_murs_et_sols", "droguerie_quincaillerie_bricolage", "parfumerie", "horlogerie_bijouterie", "fleuriste", "magasin_d_optique", "station_service"]
Nbrs_Commerce = pd.DataFrame()
Nbrs_Commerce["Nbrs_Commerce"] = pd.concat([df[col] for col in Commerce], axis=0)

In [9]:
display(Nbrs_Commerce)

       Nbrs_Commerce
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
33795              1
33796              1
33797              1
33798              1
33799              1

[777400 rows x 1 columns]

La case suivante, vas créer la colonne "Type de Magasin", pour les 33800*23, soit 777 400 lignes:

In [10]:
val_list = ["hypermarche", "supermarche", "grande_surface_de_bricolage", "superette", "epicerie", "boulangerie", "boucherie_charcuterie", "produits_surgeles", "poissonnerie", "librairie_papeterie_journaux", "magasin_de_vetements", "magasin_d_equipements_du_foyer", "magasin_de_chaussures", "magasin_d_electromenager_et_de_mat_audio_video", "magasin_de_meubles", "magasin_d_articles_de_sports_et_de_loisirs", "magasin_de_revetements_murs_et_sols", "droguerie_quincaillerie_bricolage", "parfumerie", "horlogerie_bijouterie", "fleuriste", "magasin_d_optique", "station_service"]
for i in range(23):
    locals()["df" + str(i)] = pd.DataFrame({'Type de Magasin': [val_list[i]] * 33800})
result = pd.concat([df0, df1, df2, df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22], ignore_index=True)

In [11]:
result

        Type de Magasin
0           hypermarche
1           hypermarche
2           hypermarche
3           hypermarche
4           hypermarche
...                 ...
777395  station_service
777396  station_service
777397  station_service
777398  station_service
777399  station_service

[777400 rows x 1 columns]

In [12]:
principal = principal.reset_index(drop=True)
Nbrs_Commerce = Nbrs_Commerce.reset_index(drop=True)
result = result.reset_index(drop=True)
merged_df = pd.concat([principal, Nbrs_Commerce, result], axis=1)
merged_df.to_csv('mains.csv', index=False)

In [13]:
with open('mains.csv') as f:
    encoding = f.encoding
dbz = pd.read_csv("mains.csv")
dbz

,id_departement,libelle_de_commune,annee,population,Nbrs_Commerce,Type de Magasin
0,91,Abbéville-la-Rivière,1995,283,0,hypermarche
1,91,Abbéville-la-Rivière,1996,283,0,hypermarche
2,91,Abbéville-la-Rivière,1997,283,0,hypermarche
3,91,Abbéville-la-Rivière,1998,283,0,hypermarche
4,91,Abbéville-la-Rivière,1999,283,0,hypermarche
...,...,...,...,...,...,...
777395,91,Yerres,2016,29050,1,station_service
777396,91,Yerres,2017,29050,1,station_service
777397,91,Yerres,2018,29050,1,station_service
777398,91,Yerres,2019,29050,1,station_service
777399,91,Yerres,2020,29050,1,station_service